<h1>Leases Index</h1>
<br/>
<h3>My Leases</h3>

<div><a href="/drivers/{{userid}}/new">Create a new lease</a></div>

<table>
  <tr>
    <th>Lease ID</th>
    <th>Zone Number</th>
    <th>Price</th>
    <th>Time Limit</th>
    <th>Plate State</th>
    <th>Plate Number</th>
  </tr>

{{#each data}}

  <tr>
    <td><a href="/drivers/{{this.user_id}}/{{this.lease_id}}">{{this.lease_id}}</a></td>
    <td>{{this.zone_number}}</td>
    <td>{{this.price}}</td>
    <td>{{this.time_limit}}</td>
    <td>{{this.plate_state}}</td>
    <td>{{this.plate_number}}</td>
  </tr>

{{/each}}


